:root {
	--bg: rgb(31, 32, 40);
	--bg--10: rgb(31, 32, 40, 0.1);
	--bg--60: rgb(31, 32, 40, 0.6);
	--bg--light: rgb(75, 78, 100, 0.2);
	--accent: #fab601;
	--accent--filter: invert(68%) sepia(69%) saturate(1418%) hue-rotate(360deg) brightness(102%) contrast(99%);
	--blue: rgb(66, 133, 244);
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}