:root {
	--bg: rgb(31, 32, 40);
	--bg--10: rgb(31, 32, 40, 0.1);
	--bg--60: rgb(31, 32, 40, 0.6);
	--bg--light: rgb(75, 78, 100, 0.2);
	--accent: #fab601;
	--accent--filter: invert(68%) sepia(69%) saturate(1418%) hue-rotate(360deg) brightness(102%) contrast(99%);
	--blue: rgb(66, 133, 244);
	--red: rgb(219, 68, 55);
	--green: rgb(15, 157, 88);
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg);
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
input{
	color: white !important;
}
a.nav-link,
a.menu-item {
	text-decoration: none;
}

a.nav-link.active {
	background-color: var(--bg--light);
	border-bottom: 2px solid var(--blue);
}

a.menu-item.active {
	background-color: var(--bg--light);
	border-right: 2px solid var(--blue);
}

a {
	text-decoration: none;
	color: rgb(150, 150, 150);
}
a:hover {
	text-decoration: none;
	color: var(--blue);
}
.quick-link{
	transition: 0.5s all;
}